<div class="left-space">
    <div>
        <span>Customer ID:</span>
        <span>A10001</span>
    </div>
    <div>
        <span>Name:</span>
        <span>Kevin Lee</span>
    </div>
    <div>
        <span>Account Number:</span>
        <span>123456789</span>
    </div>
    <div>
        <span>DOB:</span>
        <span>14/10/1989</span>
    </div>
    <div>
        <span>Phone Number:</span>
        <span>(423)-123-5670</span>
    </div>
    <div>
        <span>Identification Type:</span>
        <span>Passport</span>
    </div>
    <div>
        <span>Identification number:</span>
        <span>J7002199</span>
    </div>
    <div>
        <span>Account Status:</span>
        <span>Active</span>
    </div>
</div>