<table style="width:80%">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Account Number</th>
            <th>DOB</th>
            <th>Phone Number</th>
            <th>Identification Type</th>
            <th>Identification number</th>
            <th>Account Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a routerLink="/details">A10001</a>
            </td>
            <td>Kevin Lee</td>
            <td>123456789</td>
            <td>14/10/1989</td>
            <td>(423)-123-5670</td>
            <td>Passport</td>
            <td>J7002199</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>
                <a routerLink="/details">A10002</a>
            </td>
            <td>Ben Spies</td>
            <td>123456790</td>
            <td>15/10/1987</td>
            <td>(423)-123-5690</td>
            <td>Driving License</td>
            <td>WA1000000001</td>
            <td>Suspended</td>
        </tr>
    </tbody>
</table>